@adobe:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-platform-release/
//artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-platform-release/:_password=${NPM_PASSWORD}
//artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-platform-release/:username=${NPM_USERNAME}
//artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-platform-release/:email=${NPM_EMAIL}
//artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-platform-release/:always-auth=true
@nebula:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-nebula-release/
//artifactory.corp.adobe.com/artifactory/api/npm/npm-nebula-release/:_password=${NPM_PASSWORD}
//artifactory.corp.adobe.com/artifactory/api/npm/npm-nebula-release/:username=${NPM_USERNAME}
//artifactory.corp.adobe.com/artifactory/api/npm/npm-nebula-release/:email=${NPM_EMAIL}
//artifactory.corp.adobe.com/artifactory/api/npm/npm-nebula-release/:always-auth=true